@media (max-width: 768px) {
  .md-button {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
  }
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  background-color: tan
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #73CF81;
  color: #DDDDDD;
  padding: 15px;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  
}

#entryForm {
  margin-top: 14px;
}

#container {
  height: 100vw;
  width:100vh;
  margin-top: 30px; /* Add a top margin to avoid content overlay */
  
}
#footer { 
  height: 40px; 
  position: fixed; 
  bottom:1%;
  width:100%; 
  opacity: 1;
}
.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #73CF81;
  width: 100%;
  border-radius: 0px;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

.userListHeaders{
  background-color: #73CF81;
  width: 100%;
  border-radius: 0px;
  color: white;
}
.addButton{
  background-color: skyblue;
  color: white;
}
.editButton{
  background-color: orange;
  color: white;
}
.listInputs{
 float: left;
}
.remove{
  background-color: #C73030;
  color: white;
}
input[type="text"] {
  width: 100%; 
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  color: whitesmoke;
  font-weight: bold;
}
input[type="password"] {
  width: 100%; 
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}
input[type="number"] {
  width: 100%; 
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  color: whitesmoke;
  font-weight: bold;

}
input, select, textarea{
  color: white;
}

h4{
  color:whitesmoke;
}
.white{
  color: whitesmoke;
  font-weight: bold;
}

/* form {
   border: 5px solid #99D0E9;
    border-radius: 12px;
    padding: 25px;
   
} */

header{
  /* width:100%;
  position:fixed;
  top:0px; */
}
.completeButton{
  border: solid white;
  border-width: 1px;
}
.md-button.md-small {
  min-width: 1%;
  min-height: 1%;
}
input[type=checkbox]{width:20px; height:20px;}