<div class="container" flex layout-fill>

    <h3 id="welcome" class="lead">Welcome back, {{uc.userObject.userName}}!</h3>


    <md-button ng-click="showTheForm = !showTheForm; uc.buttonFunction();">Create New Grocery List</md-button>

    <form ng-show="showTheForm">

        <label for="listName">Grocery List Name:</label>
        <input type="text" ng-model="listName" placeholder="Name your new list.">
        <!-- ng-model="lc.user.tables" -->
        <br>
        <button class='addButton' ng-click="uc.addNewItem()">Add Grocery Item</button>
        <table>
            <tr>
                <th>Grocery Item</th>
                <th>Quantity</th>
                <th>Notes</th>
                <th></th>
            </tr>

            <tr layout-wrap class="list-inputs" ng-repeat="item in uc.newGroceryItems.newGroceryList">
                <!-- item[$index].itemName -->
                <td>
                    <input type="text" ng-model="uc.newGroceryItems.newGroceryList[$index].itemName" placeholder="Enter Item Name.">
                </td>

                <td>
                    <input type="number" ng-model="uc.newGroceryItems.newGroceryList[$index].itemQuantity" placeholder="Enter a quantity.">
                </td>

                <td>
                    <input type="text" ng-model="uc.newGroceryItems.newGroceryList[$index].itemNotes" placeholder="Enter any additional information.npm ">
                </td>

                <td>
                    <button class="remove" ng-click="uc.removeItemInputRow($index)">Remove</button>
                </td>

            </tr>
        </table>
        <button ng-click="uc.sendNewList(uc.newGroceryItems.newGroceryList, listName, uc.userObject)">Complete New List</button>
        <button type="button" ng-click="showTheForm = false">Cancel</button>
    </form>

    <div  id="userListContainer">
        <h2>Your Lists</h2>
        <div class="userLists" ng-repeat="list in uc.existingGroceryLists.list">

            <div class="userListHeaders">
                <h4>{{list.listName}}</h4>
                <button class='addButton' ng-click="showTheList[item[$index]] = !showTheList[item[$index]]; editTheList[item[$index]]=false ">
                    See List
                </button>
                <button class='editButton' ng-click="editTheList[item[$index]] = ! editTheList[item[$index]]; showTheList[item[$index]] = false">
                    Edit List
                <button class= 'remove' ng-click = "uc.deleteList(list._id)">Delete List</button>
                </button>
            </div>

            <table ng-show="showTheList[item[$index]]">
                <tr>
                    <th>Grocery Item</th>
                    <th>Quantity</th>
                    <th>Notes</th>
                    <th>Obtained</th>
                </tr>
                <tr ng-repeat="item in list.newGroceryList">

                    <td>{{item.itemName}}</td>
                    <td> {{item.itemQuantity}}</td>
                    <td>{{item.itemNotes}}</td>
                    <td>
                        <input type="checkbox" ng-change='uc.changeItemStatus(list, item, item.itemStatus)' ng-model="item.itemStatus" ng-checked="{{item.itemStatus}} === true">
                    </td>
                </tr>
            </table>
            <table ng-show="editTheList[item[$index]]">
                <tr>
                    <th>Grocery Item</th>
                    <th>Quantity</th>
                    <th>Notes</th>
                
                </tr>
                <tr ng-repeat="item in list.newGroceryList">
                   
                    <td>
                        <input type="text" ng-model='item.itemName'>
                    </td>
                
                    <td>
                    <input type="number" ng-model="item.itemQuantity">
                    </td>

                   <td>
                    <input type="text" ng-model="item.itemNotes">
                   </td>
                   
                </tr>
                <button ng-show="editTheList[item[$index]]" ng-click="uc.updateList(list)">Update List</button>

                    <!-- this button is a stretch goal -->
                    <!-- <button class="remove" ng-click="uc.removeItem(list,$index)">Remove</button> -->
            </table>
        </div>
    </div>
</div>

<div id = "footer" ng-include="'views/partials/nav.html'"></div>


