<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>


    <button class="btn btn-default" ng-click="showTheForm = !showTheForm">Create New Grocery List</button>

    <form ng-show="showTheForm">
        <md-input-container>
            <label for="listName">Grocery List Name:</label>
            <input type="text" ng-model="listName" placeholder="Name your new list.">
            <!-- ng-model="lc.user.tables" -->
        </md-input-container>

        <button class='addButton' ng-click="uc.addNewItem()">Add Grocery Item</button>
        <div class="list-inputs" ng-repeat="item in uc.newGroceryItems.newGroceryList">
            <p>{{uc.newGroceryItems.newGroceryList}} </p>
            <label for="item">Grocery Item: </label>
            <!-- item[$index].itemName -->
            <input type="text" ng-model="uc.newGroceryItems.newGroceryList[$index].itemName"  placeholder="Enter Item Name.">

            <label for="quantity">Quantity:</label>
            <input type="number" ng-model="uc.newGroceryItems.newGroceryList[$index].itemQuantity"  placeholder="Enter a quantity.">

            <label for="notes">Notes:</label>
            <input type="text" ng-model="uc.newGroceryItems.newGroceryList[$index].itemNotes"  placeholder="Enter any additional information.npm ">

            <button class="remove" ng-click="uc.removeItemInputRow($index)">Remove</button>

        </div>
        <br>
        <button ng-click="uc.sendNewList(uc.newGroceryItems.newGroceryList, listName, uc.userObject)">Complete New List</button>
        <button type="button" ng-click="showTheForm = false">Cancel</button>
    </form>

    <div id="userListContainer">
        <h2>Your Lists</h2>
        <div class="userLists" ng-repeat="list in uc.existingGroceryLists.list">
            <div class="userListHeaders">
                <h4>{{list.listName}}</h4>
                <button class='addButton' 
                ng-click="showTheList[item[$index]] = !showTheList[item[$index]]; editTheList[item[$index]]=false "
                >See List
            </button>
                <button class='editButton' 
                ng-click="editTheList[item[$index]] = ! editTheList[item[$index]]; showTheList[item[$index]] = false">Edit List
            </button>
            </div>

            <div ng-repeat="item in list.newGroceryList">
                <div ng-show="showTheList[item[$index]]">
                    Item Name: {{item.itemName}} {{$index}}
                    <br> Quantity: {{item.itemQuantity}}
                    <br> Notes: {{item.itemNotes}}
                    Item Status: {{item.itemStatus}}
                    <input type="checkbox" ng-change = 'uc.changeItemStatus(list, item, uc.updatedGroceryList[$index].itemStatus)'
                    ng-model="uc.updatedGroceryList[$index].itemStatus"
                    ng-checked = "{{item.itemStatus}} === true">
                </div>
            </div>
            <div ng-repeat="item in list.newGroceryList">
                <div ng-show="editTheList[item[$index]]">
                    <form>
                    <label for="item">Grocery Item: {{item.itemName}}</label>
                    <input type="text" ng-model= 'uc.updatedGroceryList[$index].itemName' placeholder="{{item.itemName}}"> 
                    <!-- ng-model="uc.editGroceryList[$index].itemName"> -->
        
                    <label for="quantity">Quantity:</label>
                    <input type="number" ng-model="uc.editGroceryList[$index].itemQuantity" placeholder="Enter a quantity.">
        
                    <label for="notes">Notes:</label>
                    <input type="text" ng-model="uc.editGroceryList[$index].itemNotes"  placeholder="Enter any additional information.npm ">
                    
                    </form>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>
</div>

<div ng-include="'views/partials/nav.html'"></div>