<div class="container" flex layout-fill>
    <h4>Friends' Lists</h4>


    <div ng-repeat="friend in dc.userObject.friendsList">
        <div class= "white">{{friend.userName}}
            <md-button ng-click="dc.getThisFriendsLists(friend)">View Lists</md-button>
        </div>

    </div>
    <div ng-repeat="list in dc.thisFriendsList.list">
        <div class="userListHeaders">
            <h4>{{list.listName}}</h4>
            <md-button class='addButton' ng-click="showTheList[item[$index]] = !showTheList[item[$index]]">See List</md-button>
        </div>
        <table ng-show="showTheList[item[$index]]">
            <tr class="white">
                <th>Grocery Item</th>
                <th>Quantity</th>
                <th>Notes</th>
                <th>Obtained</th>
            </tr>
            <tr ng-repeat="item in list.newGroceryList">

                <td class="white">{{item.itemName}}</td>
                <td class="white">{{item.itemQuantity}}</td>
                <td class="white">{{item.itemNotes}}</td>
                <td><input type="checkbox" ng-change='dc.changeItemStatus(list, item, item.itemStatus)' ng-model="item.itemStatus"
                        ng-checked="{{item.itemStatus}} === true"></td>
            </tr>
        </table>
        <br>
    </div>
    
    <br>
</div>

    <div id="footer" ng-include="'views/partials/nav.html'"></div>